:root {
  --color-brilliant-black: #1f1f1f;
  --color-software: #ff4f00;
  --color-studios: #eb0609;
  --color-labs: #1d8ffc;
  --color-quick-silver: #a6a6a6;
  --font-display: "Oxanium", "sans-serif";
}

.gray {
  color: var(--color-quick-silver);
}
