@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import url("./color.css");

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-brilliant-black);
}

#index-header {
  display: block;
}

#branding-header {
  display: none;
}

a {
  transition: 0.3s;
  position: relative;
}

a:hover {
  color: var(--color-software);
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: var(--color-software);
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}

.link-labs:hover {
  color: var(--color-labs);
}

.link-labs::after {
  background-color: var(--color-labs);
}

.link-studios:hover {
  color: var(--color-studios);
}

.link-studios::after {
  background-color: var(--color-studios);
}

.disabled,
.disabled:hover {
  color: gray;
}

.disabled::after {
  background-color: gray;
}

.subtitle {
  color: var(--color-quick-silver);
}

.btn,
button {
  font-family: var(--font-display);
  background-color: var(--color-brilliant-black);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover,
button:hover {
  background-color: var(--color-software);
  color: white;
}

.flag {
  background-color: var(--color-brilliant-black);
  padding: 5px 15px;
  border-radius: 10px;
}

.flag2 {
  background-color: white;
  color: var(--color-brilliant-black);
  padding: 5px 15px;
  border-radius: 10px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.card {
  position: relative;
  max-width: 300px;
  max-height: 200px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
  display: flex;
  justify-content: center;

  & img {
    object-fit: cover;
  }
}

.card:hover {
  & .card-content {
    display: flex;
  }
}

.card-content {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.712);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  & .title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  & .subtitle {
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  border: 1px solid #363636;
  padding: 20px;
  border-radius: 10px;

  & .icon {
    padding: 10px;
    font-size: 30px;
    border-radius: 50%;
    background-color: var(--color-software);
    color: var(--color-brilliant-black);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  & .subtitle {
    font-size: 18px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

#footer {
  padding: 50px 50px 0 50px;
}

.ecosystem {
  /* background-color: red; */
  width: 500px;
  height: 500px;
  position: relative;
}

.ecosystem-item {
  position: absolute;
  width: 20%;
}

.ecosystem-item::after {
  background-color: transparent;
}

.ecosystem-item-circle{
  z-index: -1;
  border: 1px solid gray;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.item-software {
  top: 50%;
  left: 50%;
  width: 35%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.item-labs {
  animation: rotate 50s linear infinite reverse;

  top: 10%;
  left: 10%;

  & img {
    border-radius: 50%;
  }
}

.item-studios {
  animation: rotate 50s linear infinite reverse;
  bottom: 10%;
  right: 10%;

  & img {
    border-radius: 50%;
  }
}


.orbit {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotate 50s linear infinite;
}

/* ANIMAÇÃO */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
